@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: visible;
  overflow-x: hidden;
}

#container {
  height: 100vh;
  /* set width based on sections */
  width: 600%;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}

.horizontal-section {
  z-index: -1;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 300vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-section:nth-child(1) {
  background-image: url("https://ik.imagekit.io/athxbsw68/laundromint/image1.jpg?updatedAt=1709541257152");
}
.horizontal-section:nth-child(2) {
  background-image: url("https://ik.imagekit.io/athxbsw68/laundromint/image2.jpg?updatedAt=1709541254732");
}
.horizontal-section:nth-child(3) {
  background-image: url("https://ik.imagekit.io/athxbsw68/laundromint/image3.jpg?updatedAt=1709541255496");
}
.horizontal-section:nth-child(4) {
  background-image: url("https://ik.imagekit.io/athxbsw68/laundromint/image4.jpg?updatedAt=1709541250188");
}
.horizontal-section:nth-child(5) {
  background-image: url("https://ik.imagekit.io/athxbsw68/laundromint/image5.jpg?updatedAt=1709541253504");
}
.horizontal-section:nth-child(6) {
  background-image: url("https://ik.imagekit.io/athxbsw68/laundromint/image6.jpg?updatedAt=1709541250512");
}

.heading {
  font-family: "Oswald", sans-serif;
  font-size: 2vw;
  font-weight: 300;
  color: white;
  letter-spacing: 1vw;
  text-transform: uppercase;
}

#main {
  position: relative;
  overflow: hidden;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
#page1 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page1 > h1 {
  font-size: 4vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
#page2 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page2 > h1 {
  font-size: 4vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
#page3 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page3 > h1 {
  font-size: 4vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#page4 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
#page4 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page4 > h1 {
  font-size: 3vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
