@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#home__banner {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide #content__1__img img {
  height: 84px;
  object-fit: contain;
}

#home__banner > #banner__1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 90;
}
#home__banner > #banner__2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 80;
}
#home__banner > #banner__3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 70;
}
#home__banner > #banner__4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 60;
}
#home__banner > #banner__5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 50;
}
#home__banner > #banner__6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 40;
}
#home__banner > #banner__7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 30;
}
#home__banner > #banner__8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 20;
}
#home__banner > #banner__9 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 10;
}
